### GetStar service

* GetStar's homepage :  http://www.jmmc.fr/getstar

Okay JMMC could provide a pip package...

anyway, **let's useit in few lines** !

In [6]:
import pandas
from urllib.parse import quote_plus

def getstar(stars, version="public"): 
    if not isinstance(stars, list): stars=[stars]        
    if "beta" in version: 
        ssep="|"
        account="bourgesl"
    else:
        ssep=","
        account="sclws"    
    star = ssep.join([quote_plus(n) for n in stars])
    url="http://apps.jmmc.fr/~%s/getstar/sclwsGetStarProxy.php?star=%s&format=tsv"%(account, star)
    return pandas.read_csv(url, comment='#', sep="\t")

#### Get information for a single star

In [8]:
getstar("HD  20644")

,HD,HIP,DM,TYC1,TYC2,TYC3,opt,2MASS,AKARI,WISE,...,dist,color_table_index,color_table_delta,color_table_index_fix,color_table_delta_fix,lum_class,lum_class_delta,SpType_JMMC,Name,Unnamed: 124
0,20644,15549,2800516,1796,1306,1,T,03202038+2902545,200040881,J032020.40+290254.5,...,NaN,212,0,NaN,NaN,3,0,K3.00III,HIP 15549,NaN

#### Get information for a list of stars

In [30]:
stars= ["* bet Per","HD 20644","* tau01 Ari"] 
sinfo=getstar(stars)

Display list of columns

In [ ]:
" / ".join(sinfo.columns.tolist())

Output some values

In [31]:
sinfo[['SIMBAD', 'Name', 'LDD', 'e_LDD']]

        SIMBAD       Name       LDD     e_LDD
0    * bet Per  HIP 14576  1.246323  0.101540
1    HD  20644  HIP 15549  3.876715  0.345985
2  * tau01 Ari  HIP 15627  0.212185  0.006382

#### Check accross beta version

In [32]:
sinfo_beta=getstar(stars, version='beta')

In [35]:
pandas.concat([sinfo,sinfo_beta],sort=True).sort_values(["SIMBAD",'LDD'])[['SIMBAD', 'Name', 'LDD', 'e_LDD']]

        SIMBAD             Name       LDD     e_LDD
0    * bet Per        HIP 14576  1.246323  0.101540
0    * bet Per  TYC 2851-2168-1  1.247863  0.101666
2  * tau01 Ari        HIP 15627  0.212185  0.006382
2  * tau01 Ari  TYC 1245-1184-1  0.212968  0.006405
1    HD  20644  TYC 1796-1306-1  3.872329  0.345594
1    HD  20644        HIP 15549  3.876715  0.345985